.cards-popup {
  background-color: rgb(0 0 0 / 0.5);
  display: grid;
  gap: var(--popup-column-gap);
  grid-template-rows: min-content 1fr min-content;
  inset: 0;
  opacity: 0;
  overflow: auto;
  padding: var(--main-page-paddings-tb) 30px;
  position: fixed;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 3;
}

.close-and-tooltip-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

.popup-tooltip {
  background-color: hsl(33 46% 81% / 0.5);
  border-radius: 20px;
  color: #2b2129;
  font-size: var(--popup-tooltip-font-size);
  grid-column: 2;
  opacity: 0;
  padding: var(--popup-tooltip-padding-t) var(--popup-tooltip-padding-lr)
    var(--popup-tooltip-padding-b);
}

.popup-close-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  grid-column: 3;
  justify-self: end;
  padding: 0;
  width: var(--popup-close-button-width);
  z-index: 5;
}

.popup-close-button svg {
  height: 42px;
}

.popup-close-button:hover {
  opacity: 0.6;
}

.slides-and-pagination-container {
  display: grid;
  gap: var(--main-grid-gap);
  grid-template-rows: min-content min-content;
  place-content: center;
  place-items: center;
}

.cards-popup-slider {
  aspect-ratio: 1/1;
  width: var(--popup-slider-width);
}

.cards-popup-slider .swiper-slide {
  padding: var(--popup-padding);
}

.cards-popup-slider .swiper-button-next,
.cards-popup-slider .swiper-button-prev {
  --swiper-navigation-sides-offset: 1.1vmin;
  height: var(--popup-arrow-width);
  position: absolute;
  top: 50%;
  translate: 0 50%;
  width: var(--popup-arrow-width);
}

.cards-popup-slider .swiper-button-next svg,
.cards-popup-slider .swiper-button-prev svg {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
}

.swiper-pagination-bullet {
  background: hsl(0 0% 100% / 0.8);
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  margin: auto;
  position: relative;
  width: fit-content !important;
}

.card-slide-cover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  background-color: inherit;
}

.card-slide-illustration {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
}

.card-slide-cover-text {
  bottom: 60px;
  font-size: 14px;
  left: 50%;
  max-width: 351px;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-slide-cover-text,
.content-slide {
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  line-height: 120%;
}

.content-slide {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: var(--popup-text-font-size);
  gap: 20px;
  justify-content: space-between;
}

.share-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e5d1b8;
  margin: auto;
  font-size: 18px;
}

.share-container,
.share-list {
  display: flex;
  gap: 1em;
}

.share-list {
  list-style: none;
}

.share-list li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  gap: 1em;
}

.share-list a,
.share-list button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}

.share-list a:hover,
.share-list button:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {

  .share-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
  }
}
