:root {
  --page-min-width: 320px;
  --page-max-width: 1456px;
  --index-logo-width: clamp(14.875rem, 4.9806rem + 49.4718vw, 50rem);
  --index-header-text-size: clamp(1.125rem, 0.7729rem + 1.7606vw, 2.375rem);
  --main-page-paddings-lr: clamp(0.875rem, 0.5933rem + 1.4085vw, 1.875rem);
  --main-page-paddings-tb: clamp(2.4375rem, 2.2262rem + 1.0563vw, 3.1875rem);
  --from-header-to-text: clamp(1rem, 2rem + 2vw, 4rem);
  --star-logo-width: clamp(1.125rem, 0.456rem + 3.3451vw, 3.5rem);
  --star-logo-from-left: clamp(10.625rem, 3.4595rem + 35.8275vw, 36.0625rem);
  --star-logo-from-bottom: clamp(0.6875rem, -0.3512rem + 5.1937vw, 4.375rem);
  --tooltip-font-size: clamp(0.5rem, 0.4296rem + 0.3521vw, 0.75rem);
  --tooltip-from-bottom: clamp(0.75rem, -0.6761rem + 7.1303vw, 5.8125rem);
  --tooltip-from-left: clamp(12.5rem, 4.2077rem + 41.4613vw, 41.9375rem);
  --burger-width: clamp(2.625rem, 2.3257rem + 1.4965vw, 3.6875rem);

  --cover-text-margin-bottom: clamp(5.8125rem, 5.1611rem + 3.257vw, 8.125rem);
  --cover-text-margin-bottom: clamp(2.8125rem, 3.1611rem + 3.257vw, 6.125rem);

  --cover-text-margin-top: clamp(1rem, 1rem + 2vw, 3rem);
  --section-title-font-size: clamp(2.5rem, 1.7958rem + 3.5211vw, 5rem);
  --read-more-font-size: clamp(0.75rem, 0.5387rem + 1.0563vw, 1.5rem);
  --read-more-padding-tb: clamp(0.6875rem, 0.5819rem + 0.5282vw, 1.0625rem);
  --read-more-padding-lr: clamp(1.3125rem, 1.0132rem + 1.4965vw, 2.375rem);
  --section-title-container-gap: clamp(1.125rem, 0.1612rem + 2.5701vw, 2.5rem);
  --after-section-title-margin: clamp(1.5rem, 1.0423rem + 2.2887vw, 3.125rem);
  --after-section-description-margin: clamp(
    1.1875rem,
    0.7474rem + 2.2007vw,
    2.75rem
  );
  --main-grid-gap: 16px;
  --section-description-font-size: clamp(
    0.625rem,
    0.5898rem + 0.1761vw,
    0.75rem
  );
  --large-card-title-font-size: clamp(1.5rem, 0.9718rem + 2.6408vw, 3.375rem);
  --small-card-title-font-size: 24px;
  --story-card-description-font-size: clamp(
    0.75rem,
    0.7148rem + 0.1761vw,
    0.875rem
  );
  --story-card-large-description-padding-lr: clamp(
    0.75rem,
    0.5211rem + 1.1444vw,
    1.5625rem
  );
  --story-card-large-description-padding-t: clamp(
    0.875rem,
    0.7165rem + 0.7923vw,
    1.4375rem
  );
  --story-card-large-description-padding-b: clamp(
    1.125rem,
    0.7729rem + 1.7606vw,
    2.375rem
  );
  --story-card-small-description-padding-lr: clamp(
    0.75rem,
    0.6092rem + 0.7042vw,
    1.25rem
  );
  --story-card-small-description-padding-t: clamp(
    0.875rem,
    0.8222rem + 0.2641vw,
    1.0625rem
  );
  --story-card-small-description-padding-b: clamp(
    1.125rem,
    1.0194rem + 0.5282vw,
    1.5rem
  );
  --after-section-margin: clamp(5rem, 4.8239rem + 0.8803vw, 5.625rem);
  --after-tips-margin: clamp(3.0625rem, 2.2702rem + 3.9613vw, 5.875rem);
  --footer-font-size: clamp(0.875rem, 0.7694rem + 0.5282vw, 1.25rem);
  --after-lost-image-title-margin: clamp(
    2.375rem,
    1.3715rem + 5.0176vw,
    5.9375rem
  );
  --lost-image-width: clamp(17.875rem, 5.6743rem + 61.0035vw, 61.1875rem);
  --after-lost-image-margin: clamp(3.8125rem, 3.5132rem + 1.4965vw, 4.875rem);
  --menu-logo-width: clamp(5.75rem, 4.3768rem + 6.8662vw, 10.625rem);
  --menu-logo-text-size: clamp(0.5rem, 0.4296rem + 0.3521vw, 0.75rem);
  --menu-logo-text-width: clamp(8.875rem, 6.4982rem + 11.8838vw, 17.3125rem);
  --menu-logo-text-gap: clamp(0.5rem, 0.412rem + 0.4401vw, 0.8125rem);
  --main-menu-font-size: clamp(2rem, 1.2958rem + 3.5211vw, 4.5rem);
  --main-menu-footer-font-size: clamp(0.875rem, 0.7694rem + 0.5282vw, 1.25rem);
  --inner-header-logo-width: clamp(5.75rem, 4.3768rem + 6.8662vw, 10.625rem);
  --inner-title-font-size: clamp(2.5rem, 1.7958rem + 3.5211vw, 5rem);
  --timeline-lead-section-font-size: clamp(
    1.5rem,
    1.2183rem + 1.4085vw,
    2.5rem
  );
  --timeline-after-header-margin: clamp(1.75rem, 0.9754rem + 3.8732vw, 4.5rem);
  --timeline-after-lead-section-margin: clamp(
    3.625rem,
    2.5158rem + 5.5458vw,
    4.5625rem
  );
  --timeline-card-title-font-size: clamp(
    1.5rem,
    1.3944rem + 0.5282vw,
    1.875rem
  );
  --timeline-card-date-font-size: clamp(
    3.125rem,
    0.9346rem + 5.8411vw,
    6.25rem
  );
  --timeline-card-descriptopn-padding-t: clamp(
    0.875rem,
    0.6989rem + 0.8803vw,
    1.5rem
  );
  --timeline-card-descriptopn-padding-r: clamp(
    0.75rem,
    0.4331rem + 1.5845vw,
    1.875rem
  );
  --timeline-card-descriptopn-padding-b: clamp(
    1.125rem,
    0.9137rem + 1.0563vw,
    1.875rem
  );
  --timeline-card-descriptopn-padding-l: clamp(
    0.75rem,
    0.4331rem + 1.5845vw,
    1.875rem
  );
  --timeline-before-footer-margin: clamp(
    6.75rem,
    5.3768rem + 6.8662vw,
    11.625rem
  );
  --tips-subtitle-font-size: clamp(0.625rem, 0.5898rem + 0.1761vw, 0.75rem);
  --tips-after-header-margin: clamp(2.625rem, 2.2377rem + 1.9366vw, 4rem);
  --tips-after-title-margin: clamp(1.125rem, 0.8081rem + 1.5845vw, 2.25rem);
  --tips-after-subtitle-margin: clamp(1.875rem, 1.3468rem + 2.6408vw, 3.75rem);
  --tips-before-footer-margin: clamp(6.75rem, 5.3063rem + 7.2183vw, 11.875rem);
  --popup-close-button-width: clamp(1rem, 0.5775rem + 2.1127vw, 2.5rem);
  --popup-slider-width: 68vmin;
  --popup-text-font-size: 3vmin;
  --popup-padding: 5vmin;
  --popup-ttoltip-font-size: clamp(0.625rem, 0.5546rem + 0.3521vw, 0.875rem);
  --popup-tooltip-padding-lr: clamp(0.625rem, 0.537rem + 0.4401vw, 0.9375rem);
  --popup-tooltip-padding-t: clamp(0.375rem, 0.3574rem + 0.088vw, 0.4375rem);
  --popup-tooltip-padding-b: clamp(0.4375rem, 0.5607rem + -0.6162vw, 0rem);
  --popup-column-gap: clamp(1rem, 0.5775rem + 2.1127vw, 2.5rem);
  --popup-share-block-font-size: clamp(0.625rem, 0.5898rem + 0.1761vw, 0.75rem);
  --popup-arrow-width: 3vmin;
  --lost-after-header-margin: clamp(1.1875rem, 0.5537rem + 3.169vw, 3.4375rem);
  --lost-main-title-font-size: clamp(8rem, -0.0873rem + 14vw, 12.758625rem);
  --lost-after-title-margin: clamp(2.625rem, 1.9032rem + 3.6092vw, 5.1875rem);
  --lost-subtitle-font-size: clamp(2.25rem, -1.2656rem + 4.6875vw, 3rem);
  --lost-bench-iillustraton-padding-lr: clamp(
    0rem,
    -1.5669rem + 7.8345vw,
    5.5625rem
  );
  --lost-bench-illustration-padding-top: clamp(
    5rem,
    -0.3354rem + 10.6707vw,
    9.375rem
  );
  --lost-sindbad-description-font-size: clamp(
    1.3125rem,
    0.6259rem + 3.4331vw,
    3.75rem
  );
  --lost-turtleneck-description-font-size: clamp(
    1.3125rem,
    0.6259rem + 3.4331vw,
    3.75rem
  );
  --lost-dasha-description-font-size: clamp(
    1.6875rem,
    1.265rem + 1.8vw,
    3.1875rem
  );
  --about-subtitle-font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
  --about-author-font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --about-caption-font-size: clamp(0.75rem, 0.7143rem + 0.1786vw, 0.875rem);
  --about-main-text-font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
  --about-title-font-size: clamp(1.875rem, 1.5536rem + 1.6071vw, 3rem);
  --about-button-font-size: clamp(1.125rem, 0.9107rem + 1.0714vw, 1.875rem);
  --about-text-tab-font-size: clamp(0.875rem, 0.5893rem + 1.4286vw, 1.875rem);
  --about-button-play-text: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
  --tips-detail-after-header-margin: clamp(
    2.1875rem,
    2.0114rem + 0.8803vw,
    2.8125rem
  );
  --tips-detail-after-slider-margin: clamp(
    3.0625rem,
    2.7104rem + 1.7606vw,
    4.3125rem
  );
  --tips-detail-before-footer-margin: clamp(
    6.75rem,
    4.9014rem + 9.243vw,
    13.3125rem
  );
  --story-author-and-date-font-size: clamp(
    0.875rem,
    0.6989rem + 0.8803vw,
    1.5rem
  );
  --story-title-font-size: clamp(2.5rem, 1.7958rem + 3.5211vw, 5rem);
  --story-share-font-size: clamp(0.875rem, 0.7694rem + 0.5282vw, 1.25rem);
  --story-after-header-margin: clamp(3.6875rem, 3.353rem + 1.6725vw, 4.875rem);
  --story-after-author-and-date-margin: clamp(
    1rem,
    0.8592rem + 0.7042vw,
    1.5rem
  );
  --story-after-title-margin: clamp(1.125rem, 0.8081rem + 1.5845vw, 2.25rem);
  --story-after-title-section-margin: clamp(
    1.5rem,
    1.1831rem + 1.5845vw,
    2.625rem
  );
  --story-before-footer-margin: clamp(4.5rem, 4.9401rem + -2.2007vw, 2.9375rem);
  --story-after-last-share-margin: clamp(
    3.375rem,
    2.4243rem + 4.7535vw,
    6.75rem
  );
  --life-subtitle-font-size: clamp(0.875rem, 0.2764rem + 2.993vw, 3rem);
  --life-detail-title-font-size: clamp(1.125rem, 0.1705rem + 4.7727vw, 3.75rem);
  --life-after-everything-margin: clamp(
    3.375rem,
    2.4243rem + 4.7535vw,
    4.75rem
  );
}

@media (max-width: 1296px) {

  :root {
    --timeline-card-title-font-size: clamp(
      1.375rem,
      -0.0795rem + 2.2727vw,
      1.625rem
    );
  }
}

@media (max-width: 1200px) {

  :root {
    --lost-main-title-font-size: clamp(6.875rem, -0.375rem + 14vw, 10.5rem);
    --lost-subtitle-font-size: clamp(1.5rem, 0rem + 3vw, 2.25rem);
  }
}

@media (max-width: 1024px) {

  :root {
    --large-card-title-font-size: clamp(1.5rem, 0.9718rem + 1.6408vw, 3.375rem);
  }
}

@media (max-width: 800px) {

  :root {
    --lost-main-title-font-size: clamp(5.125rem, -0.125rem + 14vw, 6.875rem);
    --lost-subtitle-font-size: clamp(1.125rem, 0rem + 3vw, 1.5rem);
  }
}

@media (max-width: 600px) {

  :root {
    --lost-main-title-font-size: clamp(4.5rem, 3.7857rem + 3.5714vw, 5.125rem);
    --lost-subtitle-font-size: clamp(0.875rem, 0.5893rem + 1.4286vw, 1.125rem);
  }
}
