@font-face {
  src: url(Plaid-S.woff) format('woff');
  font-family: 'Plaid';
  font-weight: normal;
}

@font-face {
  src: url(Plaid-S-Mono.woff) format('woff');
  font-family: 'Plaid Mono';
  font-weight: 400;
}

@font-face {
  src: url(Plaid-M-Mono.woff) format('woff');
  font-family: 'Plaid Mono';
  font-weight: 500;
}

@font-face {
  src: url(Plaid-L.woff) format('woff');
  font-family: 'Plaid';
  font-weight: bold;
}

@font-face {
  src: url(Plaid-L-Mono.woff) format('woff');
  font-family: 'Plaid Mono';
  font-weight: bold;
}

@font-face {
  src: url(Plaid-XL-Mono.woff) format('woff');
  font-family: 'Plaid Mono';
  font-weight: 800;
}
