.about .header {
  margin-bottom: 133px;
}

.about .index-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.about .title {
  margin-bottom: 28px;
  font-family: Plaid, sans-serif;
}

.about-main {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.article-about {
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 1.4525rem + 1.1127vw, 3.375rem);
}

.about-main > .article-about:last-of-type {
  margin-bottom: 180px;
}

.about-tabs__list {
  list-style: none;
}

.about-tabs__item:not(:last-child) {
  border-bottom: 1px solid #E5D1B8;;
}

.about-tabs__button {
  background-color: transparent;
  border: 0;
  padding: 18px 0 24px;
  font-size: var(--about-button-font-size);
  font-family: Plaid, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  width: 100%;
  text-align: left;
  background-image: url(../images/about/tab-closed.svg);
  background-size: auto 30px;
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  transition: 0.5s;
}

.about-tabs__button:hover {
  opacity: 0.8;
}

.about-tabs__item_opened .about-tabs__button {
  background-image: url(../images/about/tab-opened.svg);
}

.about-tabs__text {
  font-size: var(--about-text-tab-font-size);
  font-family: Plaid, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  padding: 15px 2px 32px;
  word-spacing: 16px;
  letter-spacing: -.3px;
}

.about-tabs__container {
  height: 0;
  transform: translateY(-10%);
  overflow: hidden;
  transition: 0.5s;
}

.about-tabs__item_opened .about-tabs__container {
  height: auto;
  transform: translateY(0);
  transition: 0.5s;
}



@media (max-width: 600px) {
  .about {
    padding-left: 14px;
    padding-right: 14px;
  }

  .about .header {
    margin-bottom: 61px;
  }

  .about .title {
    margin-bottom: 18px;
  }

  .about-main {
    gap: 25px;
  }

  .about-main > .article-about:last-of-type {
    margin-bottom: 120px;
  }

  .about-tabs__button {
    background-size: auto 20px;
    background-position: right center;
  }

  .about-tabs__button {
    padding: 14px 0 20px;
  }

  .about-tabs__text {
    padding: 8px 2px 20px;
  }
}
