@keyframes move-letters {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(100% + 2px));
  }
}


.index {
  padding: 0 0;
  position: relative;
}

.index-wrapper {
  position: relative;
  padding: var(--main-page-paddings-tb) var(--main-page-paddings-lr);
  z-index: 2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.index-cover {
  position: relative;
}

.index-header {
  padding-bottom: var(--from-header-to-text);
  position: relative;
}

.index-header .logo-container {
  position: relative;
  width: var(--index-logo-width);
}

.index__logo {
  width: 100%;
}

.animated-logo {
  font-size: clamp(3.625rem, 1.125rem + 12.5vw, 12.5rem);
  font-weight: 700;
  line-height: .8;
  display: block;
  cursor: default;
}

.animated-letters {
 overflow: hidden;
 display: inline-block;
 height: .7em;
 aspect-ratio: 1/1;
 position: relative;
 text-align: center;
}

.animated__letters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: -2px;
  left: 50%;
  translate: -50%;
}

.animated-logo_is-animated .a {
  animation: move-letters .6s .5s ease-in 1 forwards, move-letters .6s 2s ease-in 1 reverse forwards;
}

.animated-logo_is-animated .i {
  animation: move-letters .6s .51s ease-in 1 forwards, move-letters .6s 2.01s ease-in 1 reverse forwards;
}

.i {
  font-family: 'Plaid Mono', monospace;
  font-weight: bold;
}

.index-star {
  position: absolute;
  width: var(--star-logo-width);
  left: var(--star-logo-from-left);
  bottom: var(--star-logo-from-bottom);
  cursor: pointer;
}

.index-cover-descriptor {
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: var( --index-header-text-size);
  line-height: 140%;
  position: relative;
  z-index: 2;
  max-width: 1115px;
  margin-bottom: var(--cover-text-margin-bottom);
}

.index-cover-descriptor p:not(:last-of-type) {
  margin-bottom: 1em;
}

.index-star:hover {
  opacity: 0.6;
}

.index-star:hover ~ .index-logo-tooltip {
  opacity: 1;
}

.index-logo-tooltip {
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: var(--tooltip-font-size);
  line-height: 120%;
  position: absolute;
  bottom: var(--tooltip-from-bottom);
  left: var(--tooltip-from-left);
  opacity: 0;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .index-logo-tooltip {
    opacity: 1;
    pointer-events: none;
  }
}

 /* Видео-проекта «Кружок» */

 .video-circle {
  width: fit-content;
  border-radius: 50%;
 }

 .video-circle video {
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
 }

.index-circle video {
  width: clamp(7.5rem, 3.3882rem + 6.5789vw, 9.375rem);
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  filter: contrast(150%) saturate(150%);
}

.index-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.index-circle:first-of-type {
  top: initial;
  left: clamp(0rem, -2.7412rem + 4.386vw, 1.25rem);
  bottom: clamp(0rem, -1.3706rem + 2.193vw, 0.625rem);
  translate: initial;
  z-index: 1;
}

.index-circle:nth-of-type(2) {
  transform: translate(-180%, 80%);
}

.index-circle:nth-of-type(3) {
  transform: translate(-25%, 120%);
}

.index-circle:nth-of-type(4) {
  transform: translate(125%, -105%);
}

.index-circle:nth-of-type(5) {
  transform: translate(220%, 45%);
}

.index-circle:nth-of-type(6) {
  transform: translate(295%, 100%);
}


@media (max-width: 1000px) {
  .index-circle video {
    width: clamp(6.25rem, 1.25rem + 10vw, 7.5rem);
  }

  .index-circle:nth-of-type(2) {
    transform: translate(-160%, 80%);
  }

  .index-circle:nth-of-type(3) {
    transform: translate(-25%, 110%);
  }

  .index-circle:nth-of-type(4) {
    transform: translate(140%, -105%);
  }
}

@media (max-width: 800px) {
  .index-circle video {
    width: clamp(5.625rem, 3.75rem + 5vw, 6.25rem);
  }
  .index-circle:nth-of-type(4) {
    transform: translate(260%, -55%);
  }

  .index-circle:nth-of-type(5) {
    transform: translate(155%, 45%);
  }

  .index-circle:nth-of-type(6) {
    transform: translate(225%, 100%);
  }
}

@media (max-width: 650px) {
  .index-circle video {
    width: clamp(4.6875rem, 3.6161rem + 5.3571vw, 5.625rem);
  }
  .index-circle:nth-of-type(2) {
    transform: translate(-140%, 65%);
  }
  .index-circle:nth-of-type(4) {
    transform: translate(260%, -35%);
  }
  .index-circle:nth-of-type(5) {
    transform: translate(120%, 45%);
  }

  .index-circle:nth-of-type(6) {
    transform: translate(195%, 100%);
  }
}

@media (max-width: 600px) {
  .index-circle:nth-of-type(2) {
    translate: 140% -50%;
    transform: initial;
    top: initial;
    left: 0;
    bottom: 0;
  }
  .index-circle:nth-of-type(3) {
    transform: translate(30%, 100%);
  }

  .index-circle:nth-of-type(4) {
    transform: translate(250%, -20%);
  }
  .index-circle:nth-of-type(5) {
    transform: translate(100%, 45%);
  }

  .index-circle:nth-of-type(6) {
    transform: translate(175%, 100%);
  }
}

@media (max-width: 500px) {
  .index-circle:nth-of-type(2) {
    translate: 120% -50%;
  }
}

@media (max-width: 450px) {
  .index-circle:nth-of-type(3) {
    translate: 260% 25%;
    transform: initial;
    top: initial;
    left: 0;
    bottom: 0;
  }

  .index-circle:nth-of-type(4) {
    translate: 450% 90%;
    transform: initial;
    top: 0;
    left: 0;
  }
  .index-circle:nth-of-type(5) {
    translate: 305% -60%;
    transform: initial;
    top: initial;
    left: 0;
    bottom: 0;
  }

  .index-circle:nth-of-type(6) {
    translate: 365% -20%;
    transform: initial;
    top: initial;
    left: 0;
    bottom: 0;
  }
}

.stories {
  margin-bottom: var(--after-section-margin);
}

.section-title-container {
  display: flex;
  align-items: center;
  gap: var(--section-title-container-gap);
  margin-bottom: var(--after-section-title-margin);
}

.section-title {
  font-weight: 700;
  font-size: var(--section-title-font-size);
  line-height: 100%;
}

.section-title-link {
  --transition-property: background-color, color;
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: var(--read-more-font-size);
  line-height: 140%;
  padding: var(--read-more-padding-tb) var(--read-more-padding-lr);
  border: 1px solid currentColor;
  position: relative;
  top: 0.35em; /* to align with the title */
  white-space: nowrap;
}

.section-title-link_on_mobile {
  display: none;
}

@media (max-width: 600px) {
  .section-title-link_on_mobile {
    display: block;
    width: min-content;
    margin-top: 22px;
    margin-left: auto;
  }
  .section-title-link_on_desktop {
    display: none;
  }
}

.section-title-link:hover {
  background-color: #E5D1B8;
  color: #2B2129;
}

.lost .section-title-link:hover {
  background-color: #E5D1B8;
  color: #3C4C48;
}

.stories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--main-grid-gap);
}

@media (max-width: 600px) {
  .stories-grid {
    grid-template-columns: 1fr;
  }
}

.section-description {
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: var(--section-description-font-size);
  line-height: 140%;
  margin-bottom: var(--after-section-description-margin);
  max-width: 531px;
}

.story-card {
  display: flex;
}

@media (max-width: 600px) {
  .story-card {
    flex-direction: column;
  }
}

.story-card--large {
  grid-column: 1/-1;
}

.story-card--small img {
  object-fit: cover;
  object-position: center;
}

.story-card:hover {
  opacity: .6;
}

.story-card--large .story-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: var(--large-card-title-font-size);
  line-height: 1;
  margin: 0;
}

.story-card--large .story-card-date {
  font-style: normal;
  font-weight: 700;
  font-size: var(--large-card-title-font-size);
  line-height: 1;
  margin: 0;
}



.story-card--small .story-card-title {
  font-size: var(--small-card-title-font-size);
}

.story-card--small .story-card-date {
  font-style: normal;
  font-weight: 700;
  font-size: var(--small-card-title-font-size);
  line-height: 1;
  margin: 0;
}

.story-card-description {
  display: grid;
  grid-template-columns: 1fr min-content;
  width: 50%;
}

@media (max-width: 600px) {
  .story-card-description {
    width: 100%;
    aspect-ratio: 292/140;
  }
}

.story-card--large .story-card-description {
  padding: var(--story-card-large-description-padding-lr) var(--story-card-large-description-padding-lr) var(--story-card-large-description-padding-t);
  gap: var(--story-card-large-description-padding-t) var(--story-card-large-description-padding-t);
}

.story-card--small .story-card-description {
  padding: var(--story-card-small-description-padding-t) var(--story-card-small-description-padding-lr) var(--story-card-small-description-padding-b);
  /* gap: var(--story-card-small-description-padding-t) var(--story-card-small-description-padding-lr); */
}

@media (max-width: 1024px) {
  .story-card--small {
    grid-column: 1/-1;
  }

  .story-card--small .story-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: var(--large-card-title-font-size);
    line-height: 1;
    margin: 0;
  }

  .story-card--small .story-card-date {
    font-style: normal;
    font-weight: 700;
    font-size: var(--large-card-title-font-size);
    line-height: 1;
    margin: 0;
  }
}

.story-card-description.theme-yellow {
  color: #3C4C48;
}


.story-description {
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: var(--story-card-description-font-size);
  line-height: 120%;
  align-self: end;
  max-width: 400px;
}

.story-image {
  width: 50%;
}

@media (max-width: 1024px) {
  .story-image {
    height: auto;
    aspect-ratio: 485/321;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 600px) {
  .story-image {
    width: 100%;
    aspect-ratio: 292/140;
  }

  .story-description {
    max-width: 300px;
  }
}

.tips {
  margin-bottom: var(--after-tips-margin);
}

.covers {
  display: flex;
  gap: var(--main-grid-gap);
}

@media (max-width: 600px) {
  .covers {
    flex-direction: column;
  }
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  border: none;
  border-radius: none;
  appearance: none;
  background-color: transparent;
  padding: 0;
}

.cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.life {
  margin-bottom: 94px;
}

@media (max-width: 450px) {
  .life {
    margin-bottom: 90px;
  }
}

.life-button {
  background-color: #7583A5;
  border: 1px solid #7583A5;
  width: 100%;
  color: #E5D1B8;
  border-radius: 50%;
  font-family: Inkulinati;
  font-size: clamp(1.375rem, -1.0293rem + 8.5487vw, 6.75rem);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: .2em;
  padding: .5em 1em;
  --transition-property: color, background-color;
}

.life-button:hover {
  background-color: rgba(117, 131, 165, 0);
  color: #7583A5;
}


.life-button svg {
  width: clamp(0.6875rem, -0.5706rem + 4.4732vw, 3.5rem);
}

.lost {
  color: #E5D1B8;
  padding: var(--main-page-paddings-tb) var(--main-page-paddings-lr);
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.lost .section-title-container {
  margin-bottom: var(--after-lost-image-title-margin);
}

.lost-illustration {
  width: var(--lost-image-width);
  display: block;
  margin: auto auto var(--after-lost-image-margin);
}

.lost-description {
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: var(--section-description-font-size);
  line-height: 1.4;
  max-width: 531px;
}
