.life {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.life__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}


.life__cover {
  padding-top: 75px;
  padding-bottom: 108px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.life__title {
  line-height: 1;
  margin-bottom: 42px;
}

.life__subtitle {
  font-size: var(--life-subtitle-font-size);
}

.life__details {
  flex-grow: 1;
  display: grid;
}

.detail {
  --padding-inside: 42px 30px;
  width: calc(100% + 2 * var(--main-page-paddings-lr));
  position: relative;
  translate: calc(-1 * var(--main-page-paddings-lr));
  background-color: var(--detail-bg, #7D6779);
  color: var(--detail-color, #E5D1B8);
}

.detail_type_changes {
  --detail-bg: #7D6779;
  --detail-color: #E5D1B8;
}

.detail_type_fears {
  --detail-bg: #2B2129;
  --detail-color: #E5D1B8;
}

.detail_type_wishes {
  --detail-bg: #3C4C48;
  --detail-color: #E5D1B8;
}

.detail:not([open]) summary {
  height: 100%;
}

.detail summary {
  cursor: pointer;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: var(--padding-inside);
  gap: 36px;
  --transition-property: background-color, color;

}

.detail summary:hover {
  background-color: var(--detail-color, #E5D1B8);
  color: var(--detail-bg, #7D6779);
}

.detail__title {
  font-size: 60px;
}

.detail__subtitle {
  font-family: 'Plaid Mono';
  font-weight: 400;
  font-size: 12px;
  max-width: 394px;
}

.detail__button {
  width: 28px;
  grid-column: 2;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: none;
  padding: 0;
}

.detail__icon {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.detail[open] .detail__button {
  scale: 1 -1;
}

.detail__content {
  padding: var(--padding-inside);
  position: relative;
  border: 2px solid red;
}

.detail_type_changes .detail__content {
  aspect-ratio: 1393/1380;
}

.detail__quote {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center center;
}

.detail__quote-text {
  font-size: clamp(0.684875rem, -0.0043rem + 1.3784vw, 1.25rem);
  text-align: center;
  font-family: 'Plaid Mono';
  font-weight: 400;
  margin-bottom: clamp(0.685rem, -0.004rem + 1.378vw, 1.25rem);
}

.detail__quote-name {
  font-weight: 700;
  font-size: clamp(0.9588125rem, -0.0061rem + 1.9297vw, 1.75rem);
  text-align: center;
}

.detail__quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.detail__quote_theme_inverted {
  color: var(--detail-bg);
}

.detail_type_changes .detail__quote_name_dasha {
  width: clamp(18.83rem, -0.1273rem + 37.9146vw, 34.375rem);;
  aspect-ratio: 550/374;
  background-image: url(/images/masks/dasha.svg);
  padding: clamp(1.505625rem, -0.0119rem + 3.0351vw, 2.75rem)
          clamp(2.085rem, -0.0217rem + 4.2134vw, 3.8125rem)
          clamp(1.739375rem, -0.0266rem + 3.532vw, 3.1875rem)
          clamp(2.465rem, -0.0167rem + 4.9634vw, 4.5rem);
  transform: translate(-75%, -110%);
}

.detail_type_changes .detail__quote_name_igor {
  width: clamp(14.4698125rem, -0.0981rem + 29.1358vw, 26.4155rem);
  aspect-ratio: 422.648 / 218.225;
  background-image: url(/images/masks/igor-back.svg);
  padding: clamp(1rem, -0.1433rem + 2.2866vw, 1.9375rem)
          clamp(0.09125rem, -0.0002rem + 0.1829vw, 0.16625rem)
          clamp(3.36625rem, -1rem + 6.782vw, 6.146875rem);
          top: 0;
          translate: -50% 50%;
          transform: translate(10%, -36%);
}

.detail_type_changes .detail__quote_name_kami {
  width: clamp(16.0935rem, -0.1091rem + 32.4052vw, 29.379625rem);
  aspect-ratio: 470.074 / 314.224;
  background-image: url(/images/masks/kami.svg);
  padding: clamp(1.388125rem, -0.0105rem + 2.7973vw, 2.535rem)
          clamp(0.13rem, -0.008rem + 0.2759vw, 0.243125rem)
          clamp(2.105625rem, -0.0262rem + 4.2637vw, 3.85375rem)
          clamp(1.68375rem, -0.0114rem + 3.3902vw, 3.07375rem);
  transform: translate(95%, -163%);
}

.detail_type_changes .detail__quote_name_nick {
  width: clamp(16.29775rem, -0.1106rem + 32.8166vw, 29.7525625rem);
  aspect-ratio: 476.041 / 303.177;
  background-image: url(/images/masks/nick-back.svg);
  padding: clamp(1rem, 0.3rem + 1.9vw, 2.14375rem)
          clamp(0.878125rem, 0.302rem + 1.5362vw, 1.7rem)
          clamp(2rem, 0.5rem + 3vw, 3rem)
          clamp(1.03rem, 0.3rem + 1.7839vw, 1.99rem);
  transform: translate(-95%, -25%);
}

.detail_type_changes .detail__quote_name_lev {
  width: clamp(15.3456875rem, -0.1041rem + 30.8995vw, 28.0145rem);
  aspect-ratio: 448.232 / 299.352;
  background-image: url(/images/masks/lev-back.svg);
  padding: clamp(1.364375rem, -0.0106rem + 2.75vw, 2.491875rem)
          clamp(0.56125rem, -0.0112rem + 1.1448vw, 1.030625rem)
          clamp(2rem, 0.5rem + 4vw, 4rem);
  transform: translate(15%, -107%);
}

.detail_type_changes .detail__quote_name_aliza {
  width: clamp(19.61725rem, -0.1331rem + 39.5006vw, 35.8125rem);
  aspect-ratio: 573 / 694;
  background-image: url(/images/masks/aliza-back.svg);
  padding: clamp(4rem, 1.5rem + 8.6vw, 9.5rem)
          clamp(0.9rem, 0.3rem + 1.6vw, 1.7rem)
          clamp(0.7rem, 0.5rem + 2.5vw, 2.9rem)
          clamp(1rem, 0.4rem + 2vw, 2.2rem);
  transform: translate(70%, 0%);
}

.detail_type_changes .detail__quote_name_mark {
  width: clamp(12.7015625rem, -0.0862rem + 25.5755vw, 23.1875rem);
  aspect-ratio: 371 / 392;
  background-image: url(/images/masks/mark-back.svg);
  padding: clamp(3.835rem, 1.3537rem + 6.6168vw, 7.375rem)
          clamp(0.3525rem, 0.1177rem + 0.6262vw, 0.6875rem)
          clamp(1.195625rem, 0.4128rem + 2.0876vw, 2.3125rem)
          clamp(0.748125rem, 0.2649rem + 1.2886vw, 1.4375rem);
  transform: translate(-23%, 13%);
}

.detail_type_changes .detail__quote_name_polina {
  width: clamp(13.12675rem, -0.0891rem + 26.4317vw, 23.96375rem);
  aspect-ratio: 383.42 / 339.619;
  background-image: url(/images/masks/polina-back.svg);
  padding: clamp(3.6rem, 1.2707rem + 6.2114vw, 6.923125rem)
           clamp(1.04875rem, 0.364rem + 1.8259vw, 2.025625rem)
           clamp(1.321875rem, 0.4588rem + 2.3014vw, 2.553125rem)
           clamp(0.455625rem, 0.1612rem + 0.785vw, 0.875625rem);
  transform: translate(-125%, 80%);
}

.detail_type_changes .detail__quote_name_ilya {
  width: clamp(13.899875rem, -0.0942rem + 27.9881vw, 25.375rem);
  aspect-ratio: 406 / 318;
  background-image: url(/images/masks/ilya-mask.svg);
  padding: clamp(1.8525rem, 0.6539rem + 3.1963vw, 3.5625rem)
           clamp(1.1325rem, 0.393rem + 1.972vw, 2.1875rem)
           clamp(0.805625rem, 0.2751rem + 1.4147vw, 1.5625rem)
           clamp(1.105625rem, 0.3911rem + 1.9054vw, 2.125rem);
  transform: translate(-25%, 125%);
}

.detail_type_changes .detail__quote_name_daria {
  width: clamp(12.4961875rem, -0.0847rem + 25.1617vw, 22.8125rem);
  aspect-ratio: 365 / 338;
  background-image: url(/images/masks/daria-back.svg);
  padding: clamp(3.283125rem, 1.1597rem + 5.6624vw, 6.3125rem)
          clamp(1.4rem, 0.5rem + 2.4182vw, 2.6875rem)
          clamp(1.58625rem, 0.5515rem + 2.7593vw, 3.0625rem)
          clamp(1rem, 0.3rem + 1.9614vw, 2.1875rem);
  transform: translate(80%, 130%);
}

/* FEARS */

.detail_type_fears .detail__content {
  aspect-ratio: 1386 / 615;
}

.detail_type_fears .detail__quote_name_sonya {
  width: clamp(11.336875rem, 3.2858rem + 16.1021vw, 17.93875rem);
  aspect-ratio: 337 / 223.99;
  background-image: url(/images/masks/sonya-back.svg);
  padding: clamp(2.39625rem, -0.122rem + 5.0366vw, 4.46125rem)
          0
          clamp(1.21375rem, -0.0965rem + 2.6204vw, 2.288125rem)
          0;
          transform: translate(-130%, -85%);

}

.detail_type_fears .detail__quote_name_mark {
  width: clamp(15.151875rem, -0.701rem + 31.7058vw, 28.15125rem);
  aspect-ratio: 450.42 / 191.8;
  background-image: url(/images/masks/mark-01-mask.svg);
  padding: clamp(1.141875rem, -0.0563rem + 2.3963vw, 2.124375rem)
          clamp(0.929375rem, -0.0424rem + 1.9436vw, 1.72625rem)
          clamp(1.4025rem, -0.0739rem + 2.9527vw, 2.613125rem)
          clamp(2.88625rem, -0.1336rem + 6.0396vw, 5.3625rem);
          transform: translate(5%, -100%);
}

.detail_type_fears .detail__quote_name_shimon {
  width: clamp(8.5225rem, -0.3921rem + 17.8293vw, 15.8325rem);
  aspect-ratio: 253.32 / 211.2;
  background-image: url(/images/masks/shimon-back.svg);
  padding: clamp(3.005rem, -0.1551rem + 6.3201vw, 5.59625rem)
          0
          clamp(1.835rem, -0.0934rem + 3.8567vw, 3.41625rem)
          0;
          transform: translate(153%, -83%);
}

.detail_type_fears .detail__quote_name_ilya {
  width: clamp(10.6925rem, -0.4935rem + 22.372vw, 19.865rem);
  aspect-ratio: 317.84 / 252.77;
  background-image: url(/images/masks/ilya-01-mask.svg);
  padding: clamp(3.299375rem, -0.1709rem + 6.9405vw, 6.145rem)
          0
          clamp(1.29125rem, -0.0647rem + 2.7119vw, 2.403125rem)
          0;
          transform: translate(-170%, -6%);

}

.detail_type_fears .detail__quote_name_sasha {
  width: clamp(12.1775rem, -0.5634rem + 25.4817vw, 22.625rem);
  aspect-ratio: 362 / 290.99;
  background-image: url(/images/masks/sasha-mask.svg);
  padding: clamp(1.24125rem, -0.0644rem + 2.6113vw, 2.311875rem)
           clamp(0.4375rem, -0.0198rem + 0.9146vw, 0.8125rem)
           clamp(3.08375rem, -0.0153rem + 6.1982vw, 5.625rem);
           transform: translate(-40%, 10%);
}

.detail_type_fears .detail__quote_name_igor {
  width: clamp(14.47rem, -0.0978rem + 29.1357vw, 26.415625rem);
  aspect-ratio: 359.14 / 111.29;
  background-image: url(/images/masks/igor-01-back.svg);
  padding: clamp(0.7075rem, -0.0372rem + 1.4893vw, 1.318125rem)
           0
           clamp(0.77875rem, -0.0398rem + 1.6372vw, 1.45rem)
           clamp(0.659375rem, -0.0304rem + 1.3796vw, 1.225rem);
           transform: translate(63%, -15%);
}

.detail_type_fears .detail__quote_name_daria {
  width: clamp(11.605rem, -0.5368rem + 24.2835vw, 21.56125rem);
  aspect-ratio: 344.98 / 205.09;
  background-image: url(/images/masks/daria-01-back.svg);
  padding: clamp(1.411875rem, -0.0729rem + 2.9695vw, 2.629375rem)
           0
           clamp(3.21375rem, -0.1856rem + 6.7988vw, 6.00125rem)
           clamp(0.26875rem, -0.0117rem + 0.561vw, 0.49875rem);
           transform: translate(-105%, 90%);
}

.detail_type_fears .detail__quote_name_anonimous {
  width: clamp(11.516875rem, -0.8574rem + 24.7485vw, 21.66375rem);
  aspect-ratio: 346.62 / 193.82;
  background-image: url(/images/masks/anonimous-mask.svg);
  padding: clamp(1.27625rem, -0.0652rem + 2.6829vw, 2.37625rem)
           0
           clamp(1.335625rem, -0.0691rem + 2.8095vw, 2.4875rem)
           clamp(0.32375rem, -0.0154rem + 0.6784vw, 0.601875rem);
           transform: translate(145%, 45%);
}


/* WISHES */
.detail_type_wishes .detail__content {
  aspect-ratio: 1312 / 680;

}


.detail_type_wishes .detail__quote_name_ilya {
  width: clamp(13.38rem, 2.2504rem + 22.2591vw, 22.50625rem);
  aspect-ratio: 360.1 / 353.78;
  background-image: url(/images/masks/ilya-02-back.svg);
  padding: clamp(3.633125rem, 0.5897rem + 6.0869vw, 6.12875rem)
           clamp(0.683125rem, 0.1161rem + 1.1341vw, 1.148125rem)
           clamp(1.633125rem, 0.2665rem + 2.7332vw, 2.75375rem)
           clamp(0.185rem, 0.031rem + 0.3079vw, 0.31125rem);
           transform: translate(-130%, -20%);
}

.detail_type_wishes .detail__quote_name_polina {
  width: clamp(14.289375rem, 2.4037rem + 23.7713vw, 24.035625rem);
  aspect-ratio: 384.57 / 237.05;
  background-image: url(/images/masks/polina-01-mask.svg);
  padding: clamp(3.633125rem, 0.5897rem + 6.0869vw, 6.12875rem)
           clamp(0.683125rem, 0.1161rem + 1.1341vw, 1.148125rem)
           clamp(1.633125rem, 0.2665rem + 2.7332vw, 2.75375rem)
           clamp(0.185rem, 0.031rem + 0.3079vw, 0.31125rem);
           transform: translate(-20%, -42%);
}

.detail_type_wishes .detail__quote_name_tina {
  width: clamp(12.074375rem, 2.0317rem + 20.0854vw, 20.309375rem);
  aspect-ratio: 324.95 / 189.54;
  background-image: url(/images/masks/tina-back.svg);
  padding: clamp(1.996875rem, 0.3261rem + 3.3415vw, 3.366875rem)
          clamp(0.5rem, 0.5rem + 0.2241vw, 0.5rem)
           clamp(0.735625rem, 0.119rem + 1.2332vw, 1.24125rem)
           clamp(0.5rem, 0.5rem + 0.2241vw, 0.5rem);
           transform: translate(56%, -116%);
}

.detail_type_wishes .detail__quote_name_nastya {
  width: clamp(10.766875rem, 1.8111rem + 17.9116vw, 18.110625rem);
  aspect-ratio: 289.77 / 226.27;
  background-image: url(/images/masks/nastya-mask.svg);
  padding: clamp(2.18625rem, 0.3539rem + 3.6646vw, 3.68875rem)
           0
           clamp(2.794375rem, 0.4552rem + 4.6784vw, 4.7125rem)
           0;
           transform: translate(175%, -85%);
}

.detail_type_wishes .detail__quote_name_daria {
  width: clamp(13.92125rem, 2.3412rem + 23.1601vw, 23.416875rem);
  aspect-ratio: 374.67 / 131.37;
  background-image: url(/images/masks/daria-02-back.svg);
  padding: clamp(0.948125rem, 0.1539rem + 1.5884vw, 1.599375rem)
           clamp(0.210625rem, 0.0353rem + 0.3506vw, 0.354375rem)
           clamp(1.40375rem, 0.2277rem + 2.3521vw, 2.368125rem)
           clamp(1.198125rem, 0.2012rem + 1.9939vw, 2.015625rem);
           transform: translate(-88%, 134%);
}

.detail_type_wishes .detail__quote_name_shimon {
  width: clamp(13.843125rem, 2.3294rem + 23.0274vw, 23.284375rem);
  aspect-ratio: 372.55 / 193.18;
  background-image: url(/images/masks/shimon-01-mask.svg);
  padding: clamp(2.0375rem, 0.3309rem + 3.4131vw, 3.436875rem)
           0
           clamp(1.716875rem, 0.2786rem + 2.8765vw, 2.89625rem)
           0;
           transform: translate(5%, 51%);
}

.detail_type_wishes .detail__quote_name_igor {
  width: clamp(14.88125rem, 2.5032rem + 24.7561vw, 25.03125rem);
  aspect-ratio: 400.5 / 358.01;
  background-image: url(/images/masks/igor-02-back.svg);
  padding: clamp(2.47rem, 0.4014rem + 4.1372vw, 4.16625rem)
           clamp(1.4025rem, 0.2363rem + 2.3323vw, 2.35875rem)
           clamp(2.1025rem, 0.3418rem + 3.5213vw, 3.54625rem)
           clamp(0.96625rem, 0.1629rem + 1.6067vw, 1.625rem);
           transform: translate(105%, 14%);
}



.life .footer {
  margin-top: var(--main-page-paddings-tb);
}

@media (max-width: 1200px) {
  .life__cover {
    padding-bottom: 72px;
  }
  .life__title {
    margin-bottom: 36px;
  }

  .detail__title {
    font-size: var(--life-detail-title-font-size);
  }

  .detail_type_fears .detail__quote_name_sonya {
    transform: translate(-120%, -85%);
  }
}

@media (max-width: 1000px) {
  .life__cover {
    padding-top: 80px;
    padding-bottom: 92px;
  }
  .life__title {
    margin-bottom: 45px;
  }

  .detail {
    --padding-inside: 36px 30px;
  }

  .detail summary {
    gap: 30px;
  }

  .detail_type_fears .detail__quote_name_sonya {
    transform: translate(-115%, -85%);
  }
}

@media (max-width: 900px) {
  .detail_type_fears .detail__quote_name_sonya {
    transform: translate(-110%, -85%);
  }
}

@media (max-width: 800px) {
  .life__cover {
    padding-bottom: 60px;
  }
  .life__title {
    margin-bottom: 30px;
  }

  .detail summary {
    gap: 24px;
  }

  /* CHANGES */
  .detail_type_changes .detail__content {
    aspect-ratio: 568/860;
  }

  .detail_type_changes .detail__quote_name_dasha {
    transform: translate(-52%, -163%);
  }

  .detail_type_changes .detail__quote_name_igor {
    top: 50%;
    translate: -50% -50%;
    transform: translate(30%, -360%);
  }

  .detail_type_changes .detail__quote_name_kami {
    transform: translate(69%, -86%);
  }

  .detail_type_changes .detail__quote_name_nick {
    transform: translate(-55%, -79%);
  }

  .detail_type_changes .detail__quote_name_lev {
    transform: translate(48%, -184%);
  }

  .detail_type_changes .detail__quote_name_aliza {
    transform: translate(44%, 70%);
  }

  .detail_type_changes .detail__quote_name_mark {
    transform: translate(12%, 1%);
  }

  .detail_type_changes .detail__quote_name_polina {
    transform: translate(-94%, 26%);
  }
  .detail_type_changes .detail__quote_name_ilya {
    transform: translate(-68%, 129%);
  }
  .detail_type_changes .detail__quote_name_daria {
    transform: translate(-44%, 216%);
  }

  /* FEARS */

  .detail_type_fears .detail__content {
    aspect-ratio: 589 / 400;
  }

  .detail_type_fears .detail__quote_name_sonya {
    transform: translate(-112%, -92%);
  }

  .detail_type_fears .detail__quote_name_mark {
    transform: translate(0%, -124%);
  }

  .detail_type_fears .detail__quote_name_shimon {
    transform: translate(146%, -112%);
  }

  .detail_type_fears .detail__quote_name_ilya {
    transform: translate(-113%, 39%);
  }
  .detail_type_fears .detail__quote_name_sasha {
    transform: translate(-31%, -7%);
  }
  .detail_type_fears .detail__quote_name_igor {
    transform: translate(71%, -43%);
  }
  .detail_type_fears .detail__quote_name_daria {
    transform: translate(-15%, 117%);
  }
  .detail_type_fears .detail__quote_name_anonimous {
    transform: translate(90%, 67%);
  }

  /* WISHES */

  .detail_type_wishes .detail__content {
    aspect-ratio: 589 / 460;
  }
  .detail_type_wishes .detail__quote_name_ilya {
    transform: translate(-50%, 21%);
  }
  .detail_type_wishes .detail__quote_name_polina {
    transform: translate(-69%, -72%);
  }
  .detail_type_wishes .detail__quote_name_tina {
    transform: translate(-2%, -161%);
  }
  .detail_type_wishes .detail__quote_name_nastya {
    transform: translate(110%, -129%);
  }
  .detail_type_wishes .detail__quote_name_daria {
    transform: translate(-50%, 248%);
  }
  .detail_type_wishes .detail__quote_name_shimon {
    transform: translate(40%, -50%);
  }
  .detail_type_wishes .detail__quote_name_igor {
    transform: translate(51%, 55%);
  }
}

@media (max-width: 600px) {
  .life__cover {
    padding-top: 71px;
    padding-bottom: 42px;
  }
  .life__title {
    margin-bottom: 18px;
  }

  .detail__button {
    width: 16px;
  }
}

@media (max-width: 450px) {
  .life__cover {
    padding-top: 45px;
  }

  .detail {
    --padding-inside: 24px 14px;
  }

  .detail summary {
    gap: 14px;
  }
}
