.lost .header {
  margin-bottom: var(--lost-after-header-margin);
}


.lost__main-title {
  font-family: Inkulinati, serif;
  font-size: var(--lost-main-title-font-size);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  color: #202B28;;
  text-shadow:
    -1px -1px 0 #D39264,
    1px -1px 0 #D39264,
    -1px 1px 0 #D39264,
    1px 1px 0 #D39264;
  margin-bottom: var(--lost-after-title-margin);
}

@supports((text-stroke: 1px #D39264) or (-webkit-text-stroke: 1px #D39264)) {
  .lost__main-title {
      color: transparent;
      -webkit-text-stroke: 1px #D39264;
      text-stroke: 1px #D39264;
      text-shadow: none;
  }
}

.lost__cover-subtitle {
  font-size: var(--lost-subtitle-font-size);
}


.things {
  margin-top: 200px;
  margin-bottom: 200px;
}

.row.one {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 60px;
}



.item {
  position: relative;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
}

.asya {
  color: #883F65;
  padding-bottom: 40px;
}



.asya .item__image {
  width: 560px;
}

.asya .item__description {
  max-width: 245px;
  position: absolute;
  bottom: 45px;
  right: 65px;
  transform: rotate(-1.5deg);
}

.wrapper {
  position: relative;
}



.wrapper .item {
  position: absolute;
  top: 50%;
  left: 50%;
}

.sonya {
  color: #D29164;
  display: flex;
  align-items: center;
  gap: 25px;
  transform: translate(-50%, -100%);

}

.sonya .item__description {
  width: 250px;
}

.sonya .item__image {
  width: 190px;
}




.ilya {
  color: #D29164;
  transform: translate(-130%, 25%);
}

.ilya .item__image {
  width: 281px;
}

.ilya .item__description {
  width: 329px;
  text-align: center;
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-45%) rotate(-17deg);
}



.danya {
  color: #A59E4C;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transform: translate(0, -10%);
}

.danya .item__image {
  width: 244px;
}

.danya .item__description {
  max-width: 329px;
  text-align: center;
}




.sindbad__description {
  color: #202B28;;
  font-weight: 700;
  font-size: var(--lost-sindbad-description-font-size);
  text-shadow:
    -1px -1px 0 #F04060,
    1px -1px 0 #F04060,
    -1px 1px 0 #F04060,
    1px 1px 0 #F04060;
  text-align: center;
  line-height: 1;
  position: relative;
  bottom: .5em;
}

@supports((text-stroke: 1px #F04060) or (-webkit-text-stroke: 1px #F04060)) {
  .sindbad__description {
      color: transparent;
      -webkit-text-stroke: 1px #F04060;
      text-stroke: 1px #F04060;
      text-shadow: none;
  }
}

.row.three {
  aspect-ratio: 1233/1009;
  position: relative;
}



.row.three .item {
  position: absolute;
  top: 50%;
  left: 50%;
}

.mark {
  transform: translate(-175%, -100%);
  color: #D39264;
}

.mark .item__image {
  width: 337px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.mark .item__description {
  width: 323px;
  text-align: center;
}

.kot {
  transform: translate(-50%, -100%);
  color: #F8F8F6;
}

.kot .item__image {
  width: 340px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}



.kot .item__description {
  width: 157px;
  text-align: center;
  margin: auto;
}

.maya {
  transform: translate(150%, -100%);
  color: #4087DA;
}

.maya .item__image {
  width: 191px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.maya .item__description {
  width: 213px;
  text-align: center;
  margin: auto;
}

.maya .item__description p:not(:last-of-type) {
  margin-bottom: 1em;
}

.eduard {
  transform: translate(-200%, 50%);
  color: #D1CFC0;
}

.eduard .item__image {
  width: 230px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.eduard .item__description {
  width: 273px;
  text-align: center;
  margin: auto;
}

.artem {
  transform: translate(-50%, 50%);
  color: #91B37F;
}

.artem .item__image {
  width: 270px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.artem .item__description {
  width: 329px;
  text-align: center;
  margin: auto;
}

.ilya-friends {
  transform: translate(80%, 25%);
  color: #756E54;
}

.ilya-friends .item__image {
  width: 314px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.ilya-friends .item__description {
  width: 277px;
  text-align: center;
  margin: auto;
}




.turtleneck__description {
  color: #0B0B0B;
  text-align: center;
  font-size: var(--lost-turtleneck-description-font-size);
  font-weight: 700;
  line-height: 100%;
  position: relative;
  bottom: 1em;
}

.row.five {
  aspect-ratio: 1400/800;
  position: relative;
}

.row.five .item {
  position: absolute;
  top: 50%;
  left: 50%;
}

.avi {
  color: #D09064;
  transform: translate(-200%, -40%);
}

.avi .item__image {
  width: 274px;
  display: block;
  margin: auto;
}

.avi .item__description {
  width: 251px;
  text-align: center;
}

.polina {
  color: #A59E4C;
  transform: translate(-50%, -90%);
}

.polina .item__image {
  width: 227px;
  display: block;
  margin: 0 auto 20px;
}

.polina .item__description {
  width: 329px;
  text-align: center;
}

.polina .item__description p:not(:last-of-type) {
  margin-bottom: 1em;
}

.shimon {
  color: #D39264;
  transform: translate(75%, -40%);
}

.shimon .item__image {
  width: 354px;
}

.shimon .item__description {
  width: 203px;
  position: relative;
  bottom: 25px;
  left: 15px;
  transform: rotate(5deg);
}


.bench {
  padding: 0 var(--lost-bench-iillustraton-padding-lr) 0;
  position: sticky;
  top: 80px;
  left: 0;
  z-index: -1;
  min-height: 75vh;
  display: grid;
  place-items: end;
}


@media (orientation: portrait) {
  .bench {
    min-height: 40vh;
    transition: min-height .5s linear;
  }
  .bench__illustration {
    margin-bottom: 50px;
  }

  .things {
    margin-top: 50px;
  }
}

.bench__illustration {
  width: 100%;
  opacity: .5;
  transition: opacity .3s;
}

.on-intersection {
  min-height: 75vh;
}

.add-opacity {
  opacity: .2;
}

.spacer {
  min-height: 85vh;
}



.row.six {
  display: flex;
  align-items: center;
  justify-content: center;
}


.dasha {
  width: 100%;
  font-weight: 400;
  font-family: Inkulinati, serif;
  color: #202B28;
  font-size: var(--lost-dasha-description-font-size);
  text-transform: uppercase;
  text-shadow:
    -1px -1px 0 #D39264,
    1px -1px 0 #D39264,
    -1px 1px 0 #D39264,
    1px 1px 0 #D39264;
  text-align: center;
  line-height: 1;
}

@supports((text-stroke: 1px #D39264) or (-webkit-text-stroke: 1px #D39264)) {
  .dasha {
      color: transparent;
      -webkit-text-stroke: 1px #D39264;
      text-stroke: 1px #D39264;
      text-shadow: none;
  }
}

.rf {
  position: relative;
  display: inline-block;
}
.rf::after {
  content: 'Даша';
  font-weight: 400;
  font-family: Inkulinati, serif;
  font-size: var(--lost-dasha-description-font-size);
  color: #D39264;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(10%, 80%) rotate(-10deg);

}



@media (max-width: 1350px) {

  .row.three {
    aspect-ratio: 1118/1033;
  }
}


@media (max-width: 1200px) {

  .row.one {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0;
  }
  .wrapper {
    width: 100%;
    aspect-ratio: 955/300;
  }
  .sonya {
    transform: translate(-100%, -100%);
  }
  .ilya {
    transform: translate(-50%, -20%);
  }
  .danya {
    transform: translate(50%, -80%);
  }
  .kot .image__item {
    width: 326px;
  }
}

@media (max-width: 1165px) {

  .mark {
    transform: translate(-152%, -100%);
  }
  .kot {
    transform: translate(-43%, -68%);
  }
  .maya {
    transform: translate(123%, -100%);
  }
  .artem {
    transform: translate(-40%, 67%);
  }
  .eduard {
    transform: translate(-175%, 50%);
  }
  .ilya-friends {
    transform: translate(70%, 35%);
  }

  .turtleneck {
    margin-top: 15vw;
  }

  .row.five {
    aspect-ratio: 1400/910;
  }

  .avi {
    transform: translate(-165%, -50%);
  }

  .shimon {
    transform: translate(45%, -25%);
  }
}

@media (max-width: 1050px) {

  .asya .item__image {
    width: clamp(28.4375rem, 19.6042rem + 23.5556vw, 35.0625rem);
  }

  .asya .item__description {
    width: 245px;
  }

  .sonya .item__image {
    width: clamp(9.4375rem, 6.1875rem + 8.6667vw, 11.875rem);
  }

  .sonya .item__description {
    width: clamp(12.5rem, 7.75rem + 12.6667vw, 16.0625rem);
  }

  .ilya .item__image {
    width: clamp(10.625rem, 3.4583rem + 19.1111vw, 16rem);
  }

  .ilya .item__description {
    width: clamp(14.3125rem, 8.0625rem + 16.6667vw, 19rem);
  }

  .danya .item__image {
    width: clamp(11.625rem, 6.7917rem + 12.8889vw, 15.25rem);
  }

  .danya .item__description {
    width: clamp(14.8125rem, 7.1458rem + 20.4444vw, 20.5625rem);
  }

  .mark {
    transform: translate(-146%, -100%);
  }

  .mark .item__image {
    width: clamp(13.3125rem, 7.5625rem + 15.3333vw, 17.625rem);
  }

  .mark .item__description {
    width: clamp(16.6875rem, 12.0208rem + 12.4444vw, 20.1875rem);
  }

  .kot {
    transform: translate(-46%, -68%);
  }

  .kot .item__image {
    width: clamp(13.1875rem, 8.2708rem + 13.1111vw, 16.875rem);
  }

  .kot .item__description {
    width: 157px;
  }

  .maya {
    transform: translate(104%, -100%);
  }

  .maya .item__image {
    width: clamp(10rem, 7.4167rem + 6.8889vw, 11.9375rem);
  }

  .maya .item__description {
    width: 213px;
  }

  .eduard {
    transform: translate(-160%, 50%);
  }

  .artem {
    transform: translate(-45%, 67%);
  }

  .artem .item__image {
    width: clamp(11.875rem, 8.0417rem + 10.2222vw, 14.75rem);
  }

  .artem .item__description {
    width: 329px;
  }

  .ilya-friends {
    transform: translate(58%, 35%);
  }

  .ilya-friends .item__image {
    width: clamp(15.0625rem, 8.9792rem + 16.2222vw, 19.625rem);
  }

  .ilya-friends .item__description {
    width: 277px;
  }

  .avi {
    transform: translate(-165%, -40%);
  }

  .avi .item__image {
    width: clamp(15.25rem, 12.75rem + 6.6667vw, 17.125rem);
  }

  .avi .item__description {
    width: 251px;
  }

  .shimon {
    transform: translate(80%, -15%);
  }

  .shimon .item__image {
    width: 261px;
  }

  .shimon .item__description {
    width: 167px;
    transform: rotate(5deg);
    bottom: 15px;
    left: 10px;
  }

  .polina {
    transform: translate(-45%, -85%);
  }
  .polina .item__image {
    font-size: clamp(11.75rem, 8.3333rem + 9.1111vw, 14.3125rem);
  }

  .polina .item__description {
    width: clamp(15.3125rem, 8.3125rem + 18.6667vw, 20.5625rem);
  }
}

@media (max-width: 950px) {

  .wrapper {
    aspect-ratio: 400/210;
  }

  .asya {
    padding-bottom: 0;
  }

  .danya {
    transform: translate(35%, -90%);
  }

  .sonya {
    transform: translate(-90%, -90%);
  }

  .ilya {
    transform: translate(-100%, -5%);
  }

  .row.three {
    aspect-ratio: 714/1075;
  }

  .mark {
    transform: translate(-126%, -135%);
  }
  .kot {
    transform: translate(-25%, -85%);
  }
  .maya {
    transform: translate(90%, -140%);
  }
  .eduard {
    transform: translate(-100%, 0%);
  }
  .artem {
    transform: translate(20%, 50%);
  }
  .ilya-friends {
    transform: translate(-112%, 110%);
  }
  .turtleneck {
    margin-top: 5vw;
  }
  .row.five {
    aspect-ratio: 700/800;
  }
  .avi {
    transform: translate(-115%, -75%);
  }
  .polina {
    transform: translate(0%, -100%);
  }
  .shimon {
    transform: translate(-15%, 20%);
  }

}

@media (max-width: 850px) {

  .row.three {
    aspect-ratio: 714/1275;
  }
  .mark {
    transform: translate(-124%, -150%);
  }
  .kot {
    transform: translate(-25%, -80%);
  }
  .maya {
    transform: translate(80%, -155%);
  }
  .eduard {
    transform: translate(-110%, 10%);
  }
  .artem {
      transform: translate(20%, 60%);
  }
  .ilya-friends {
      transform: translate(-122%, 125%);
  }
}

@media (max-width: 800px) {
  .row.one {
    margin-bottom: 60px;
  }
  .wrapper {
    aspect-ratio: initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    place-items: center;
    gap: 10px;
  }

  .wrapper .item {
    position: relative;
    transform: initial;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
  }

  .sonya {
    grid-row: 1/3;
    flex-direction: column;
    gap: 10px;
    justify-self: end;
  }
  .danya {
    grid-row: 2/4;
  }
  .ilya {
    grid-row: 3/6;
  }


  .row.three {
    aspect-ratio: initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, min-content);
    place-items: center;
    gap: 20px;
  }

  .row.three .item {
    position: relative;
    transform: initial;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
  }

  .mark {
    grid-column: 1;
    grid-row: 2/4;
    align-self: start;
  }

  .maya {
    grid-column: 2;
    grid-row: 1/3
  }

  .kot {
    grid-column: 2;
    grid-row: 3/5;
    justify-self: start;
  }

  .eduard {
    grid-column: 1;
    grid-row: 4/6;
  }

  .artem {
    grid-column: 2;
    grid-row: 5/7;
  }

  .ilya-friends {
    grid-column: 1;
    grid-row: 7/8;
  }

}


@media (max-width: 650px) {

  .artem .item__description {
    width: 230px;
  }
  .row.five {
    aspect-ratio: initial;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    place-items: center;
    gap: 30px;
  }

  .row.five .item {
    position: relative;
    transform: initial;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
  }

  .avi {
    grid-column: 1;
    grid-row: 2/4;
  }
  .polina {
    grid-column: 2;
    grid-row: 1/3;
    justify-self: start;
  }
  .shimon {
    grid-column: 2;
    grid-row: 3/5;
  }
}

@media (max-width: 600px) {
  .row:not(.row.one), .wrapper {
    grid-template-columns: 1fr !important;
    gap: 60px !important;
  }

  .item {
    grid-row: initial !important;
    grid-column: initial !important;
    align-self: center;
    justify-self: center;
  }

  .ilya {
    grid-row: 3 !important;
  }

  .asya .item__image {
    width: 245px;
  }

  .item__description {
    text-align: center !important;
  }

  .asya .item__description {
    position: static;
    width: 245px;
  }

  .shimon .item__description {
    left: -6px;
  }
}
