.lost .header {
  margin-bottom: var(--lost-after-header-margin);
}


.lost__main-title {
  font-family: Inkulinati, serif;
  font-size: var(--lost-main-title-font-size);
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  width: 100%;
  color: #202B28;;
  text-shadow:
    -1px -1px 0 #D39264,
    1px -1px 0 #D39264,
    -1px 1px 0 #D39264,
    1px 1px 0 #D39264;
  margin-bottom: var(--lost-after-title-margin);
}

@supports((text-stroke: 1px #D39264) or (-webkit-text-stroke: 1px #D39264)) {
  .lost__main-title {
      color: transparent;
      -webkit-text-stroke: 1px #D39264;
      text-stroke: 1px #D39264;
      text-shadow: none;
  }
}

.lost__cover-subtitle {
  font-size: var(--lost-subtitle-font-size);
}

.bench {
  padding: var(--lost-bench-illustration-padding-top) var(--lost-bench-iillustraton-padding-lr) 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: -1;
}

.bench__illustration {
  width: 100%;
  opacity: .2;
}

.row.one {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 60px;
}

@media (max-width: 1200px) {
  .row.one {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 0;
  }
}

.item {
  position: relative;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
}

.asya {
  color: #883F65;
  padding-bottom: 40px;
}



.asya .item__image {
  width: 560px;
}

.asya .item__description {
  max-width: 245px;
  position: absolute;
  bottom: 45px;
  right: 65px;
  transform: rotate(-1.5deg);
}

.wrapper {
  position: relative;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 100%;
    aspect-ratio: 792/316;
  }
}

.wrapper .item {
  position: absolute;
  top: 50%;
  left: 50%;
}

.sonya {
  color: #D29164;
  display: flex;
  align-items: center;
  gap: 25px;
  transform: translate(-50%, -100%);

}

.sonya .item__description {
  width: 250px;
}

.sonya .item__image {
  width: 190px;
}

@media (max-width: 1200px) {
  .sonya {
    transform: translate(-100%, -100%);
  }
}


.ilya {
  color: #D29164;
  transform: translate(-130%, 25%);
}

.ilya .item__image {
  width: 281px;
}

.ilya .item__description {
  max-width: 329px;
  text-align: center;
  position: absolute;
  bottom: -13px;
  left: 50px;
  transform: rotate(-17deg);
}

@media (max-width: 1200px) {
  .ilya {
    transform: translate(-50%, -20%);
  }
}

.danya {
  color: #A59E4C;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transform: translate(0, -10%);
}

.danya .item__image {
  width: 244px;
}

.danya .item__description {
  max-width: 329px;
  text-align: center;
}

@media (max-width: 1200px) {
  .danya {
    transform: translate(50%, -80%);
  }
}


.sindbad__description {
  color: #202B28;;
  font-weight: 700;
  font-size: var(--lost-sindbad-description-font-size);
  text-shadow:
    -1px -1px 0 #F04060,
    1px -1px 0 #F04060,
    -1px 1px 0 #F04060,
    1px 1px 0 #F04060;
  text-align: center;
  line-height: 1;
  position: relative;
  bottom: .5em;
}

@supports((text-stroke: 1px #F04060) or (-webkit-text-stroke: 1px #F04060)) {
  .sindbad__description {
      color: transparent;
      -webkit-text-stroke: 1px #F04060;
      text-stroke: 1px #F04060;
      text-shadow: none;
  }
}

.row.three {
  aspect-ratio: 1233/1009;
  position: relative;
}

.row.three .item {
  position: absolute;
  top: 50%;
  left: 50%;
}

.mark {
  transform: translate(-175%, -100%);
  color: #D39264;
}

.mark .item__image {
  width: 337px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.mark .item__description {
  width: 323px;
  text-align: center;
}

.kot {
  transform: translate(-50%, -100%);
  color: #F8F8F6;
}

.kot .item__image {
  width: 340px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.kot .item__description {
  width: 157px;
  text-align: center;
  margin: auto;
}

.maya {
  transform: translate(150%, -100%);
  color: #4087DA;
}

.maya .item__image {
  width: 191px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.maya .item__description {
  width: 213px;
  text-align: center;
  margin: auto;
}

.maya .item__description p:not(:last-of-type) {
  margin-bottom: 1em;
}

.eduard {
  transform: translate(-200%, 50%);
  color: #D1CFC0;
}

.eduard .item__image {
  width: 230px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.eduard .item__description {
  width: 273px;
  text-align: center;
  margin: auto;
}

.artem {
  transform: translate(-50%, 50%);
  color: #91B37F;
}

.artem .item__image {
  width: 270px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.artem .item__description {
  width: 329px;
  text-align: center;
  margin: auto;
}

.ilya-friends {
  transform: translate(80%, 25%);
  color: #756E54;
}

.ilya-friends .item__image {
  width: 314px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.ilya-friends .item__description {
  width: 277px;
  text-align: center;
  margin: auto;
}

.turtleneck__description {
  color: #0B0B0B;
  text-align: center;
  font-size: var(--lost-turtleneck-description-font-size);
  font-weight: 700;
  line-height: 100%;
  position: relative;
  bottom: 1em;
}

.row.five {
  aspect-ratio: 1275/630;
  position: relative;
}

.row.five .item {
  position: absolute;
  top: 50%;
  left: 50%;
}

.avi {
  color: #D09064;
  transform: translate(-200%, -50%);
}

.avi .item__image {
  width: 274px;
  display: block;
  margin: auto;
}

.avi .item__description {
  width: 251px;
  text-align: center;
}

.polina {
  color: #A59E4C;
  transform: translate(-50%, -100%);
}

.polina .item__image {
  width: 252px;
  display: block;
  margin: 0 auto 20px;
}

.polina .item__description {
  width: 329px;
  text-align: center;
}

.polina .item__description p:not(:last-of-type) {
  margin-bottom: 1em;
}

.shimon {
  color: #D39264;
  transform: translate(75%, -50%);
}

.shimon .item__image {
  width: 354px;
}

.shimon .item__description {
  width: 203px;
  position: relative;
  bottom: 25px;
  left: 15px;
  transform: rotate(5deg);
}
