.cards-popup {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / .5);
  z-index: 3;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  padding: var(--main-page-paddings-tb) 30px;
  gap: var(--popup-column-gap);
  overflow: auto;
}

.close-and-tooltip-container {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.popup-tooltip {
  grid-column: 2;
  background-color: rgb(229 209 184 / .5);
  color: #2B2129;
  border-radius: 20px;
  font-size: var(--popup-ttoltip-font-size);
  padding: var(--popup-tooltip-padding-t) var(--popup-tooltip-padding-lr) var(--popup-tooltip-padding-b);
}

.popup-close-button {
  grid-column: 3;
  background-color: transparent;
  border: none;
  padding: 0;
  appearance: none;
  width: var(--popup-close-button-width);
  justify-self: end;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 5;
}

.popup-close-button:hover {
  opacity: .6;
}

.slides-and-pagination-container {
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-rows: min-content min-content;
  gap: var(--main-grid-gap);
}

.cards-popup-slider {
  width: var(--popup-slider-width);
  aspect-ratio: 1/1;
}

.cards-popup-slider .swiper-slide {
  padding: var(--popup-padding);
}

.cards-popup-slider .swiper-button-prev,
.cards-popup-slider .swiper-button-next {
  position: absolute;
  --swiper-navigation-sides-offset: clamp(0.25rem, -1.3271rem + 3vw, 2.5rem);
}

.cards-popup-slider .swiper-button-prev svg,
.cards-popup-slider .swiper-button-next svg {
  width: var(--popup-arrow-width);
  height: var(--popup-arrow-width);
  object-fit: cover;
  object-position: center;
}

.swiper-pagination-bullet {
  background: rgb(255 255 255 / .8);
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  position: relative;
  width: fit-content !important;
  margin: auto;
}

.card-slide-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-slide-illustration {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.card-slide-cover-text {
  font-family: 'Plaid Mono', monospace;
  text-align: center;
  max-width: 351px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);

}

.content-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: var(--popup-text-font-size);
  line-height: 120%;
}

.share-container {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: var(--popup-share-block-font-size);
}

@media (max-width: 600px) {
  .share-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.share-list {
  list-style: none;
  display: flex;
  gap: 1em;
}

.share-list li {
  display: flex;
  align-items: center;
  gap: 1em;
}

.share-list button {
  background-color: transparent;
  border: none;
  padding: 0;
  appearance: none;
  font-size: inherit;
  cursor: pointer;
}

.share-list button:hover {
  opacity: .6;
}