.section_display_narrow {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
  padding: 0;
}

.section_display_wide {
  width: 100%;
  max-width: 1408px;
  margin: 0 auto;
  padding: 0;
}

.section-author {
  font-size: var(--about-author-font-size);
  line-height: 1.4;
  font-family: Plaid, sans-serif;
  letter-spacing: 0.7px;
}

.section-subtitle {
  font-size: var(--about-subtitle-font-size);
  line-height: 1.4;
  margin-top: 53px;
}

.section__title {
  font-size: var(--about-title-font-size);
  line-height: 1;
  font-family: Plaid, sans-serif;
  font-style: normal;
  font-weight: 700;
  padding: 12px 0px 27px;
}

.section__video-wrapper {
  position: relative;
}

.section__video-play {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.section__video-wrapper__hide {
  display: none;
}

.section__video-cover {
  position: absolute;
  block-size: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  object-fit: cover;
  object-position: center;
}

.section__video-play::before {
  content: "Включить";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  border: 2px solid #E5D1B8;
  background: #2B2129;
  padding: 16px 29px;
  color: #E5D1B8;
  text-align: center;
  font-size: var(--about-button-play-text);
  font-family: Plaid, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.section__video-play:hover::before {
  opacity: 0.8;
}

.section__video {
  display: block;
  border: 0;
  width: 100%;
  max-width: 100%;
  max-height: 812px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.section__pic {
  display: block;
  border: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  max-height: 939px;
}

.section__caption {
  font-size: var(--about-caption-font-size);
  line-height: 1.2;
  max-width: 50%;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 6px;
  word-spacing: 7px;
  letter-spacing: 0.23px;
}

.section__text {
  font-size: var(--about-main-text-font-size);
  line-height: 1.4;
}

.section__link {
  text-decoration: underline;
  transition: 0.3s;
}

.section__link:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.gallery-section-navigation-container {
  position: absolute;
  right: 0;
  bottom: 0;
  top: auto;
  left: auto;
}

.gallery-section-navigation-container .swiper-button-prev,
.gallery-section-navigation-container .swiper-button-next {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 12px;
  color: inherit;
}

@media (max-width: 600px) {
  .gallery-section-navigation-container {
    bottom: 5px;
  }
  .gallery-section-navigation-container .swiper-button-prev,
  .gallery-section-navigation-container .swiper-button-next {
    margin-top: 0;
    top: 0;
  }
}

.section__blockquote-wrapper {
  background-color: #181818;
  font-family: 'Plaid Mono';
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(1.875rem, 0.1849rem + 8.4507vw, 7.875rem) clamp(1rem, 0.4014rem + 2.993vw, 3.125rem);
  font-size: clamp(0.75rem, 0.7148rem + 0.1761vw, 0.875rem);
}

.section__decorated-blockquote_lh_wide p:not(:last-of-type) {
  margin-bottom: 1.5em;
}



.section__blockquote-title {
  font-weight: inherit;
  font-size: inherit;
  margin-bottom: clamp(1rem, 0.4014rem + 2.993vw, 3.125rem);;
}

.section__decorated-video-wrapper {
  background-color: #181818;
  padding: clamp(1.875rem, 0.1849rem + 8.4507vw, 7.875rem) clamp(1rem, 0.4014rem + 2.993vw, 3.125rem);
  display: grid;
  place-items: center;

}

.section__decorated-video-item_type_vertical {
  width: clamp(15.625rem, 14.9736rem + 3.257vw, 17.9375rem);
}


@media (max-width: 1024px) {
  .section__caption {
    max-width: 100%;
  }
  .gallery-about {
    padding-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .section-subtitle {
    margin-top: 31px;
  }

  .section__caption {
    margin-top: 10px;
    margin-bottom: 4px;
    margin-left: 0px;
    word-spacing: 5px;
    letter-spacing: 0.23px;
  }

  .section__title {
    padding: 2px 0px 5px;
  }

  .section__video-play::before {
    padding: 9px 17px;
  }
}
