.story .header {
  margin-bottom: var(--story-after-header-margin);
}

.story__title-section {
  margin-bottom: var(--story-after-title-section-margin);
}

.story__author-date-zone {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: var(--story-author-and-date-font-size);
  margin-bottom: var(--story-after-author-and-date-margin);
}

.story__date {
  padding: 10px 14px;
  border: 1px solid currentColor;
}

.story__title {
  font-size: var(--story-title-font-size);
  margin-bottom: var(--story-after-title-margin);
  line-height: 1;
}

.story__share {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: var(--story-share-font-size);
  color: inherit;
}

.share-list {
  list-style: none;
  display: flex;
  gap: 1em;
}

.share-list li {
  display: flex;
  align-items: center;
  gap: 1em;
}

.share-list a, .share-list button {
  background-color: transparent;
  border: none;
  padding: 0;
  appearance: none;
  font-size: inherit;
  cursor: pointer;
}

.share-list a:hover, .share-list button:hover {
  opacity: .6;
}

.link-shared-tooltip {
  background-color: rgb(229 209 184 / .5);
  color: #2B2129;
  border-radius: 20px;
  font-size: var(--story-share-font-size);
  padding: 7px 15px 10px;
  width: fit-content;
  word-wrap: nowrap;
  justify-self: center;
  opacity: 0;
}

.story__cover {
  margin-bottom: clamp(1.875rem, 1.1356rem + 3.6972vw, 4.5rem);
}

.story__cover-image {
  aspect-ratio: 292/194;
  object-fit: cover;
  object-position: center;
}

.story__section {
  display: flex;
  flex-direction: column;
  gap: clamp(1.875rem, 1.4525rem + 1.1127vw, 3.375rem);
}

.story__share_place_in-bottom {
  margin-top: clamp(3.375rem, 3.0581rem + 1.5845vw, 4.5rem);
  border-top: 1px solid currentColor;
  padding-top: 10px;
  margin-bottom: var(--story-after-last-share-margin);
}

.link-shared-tooltip_device_mobile {
  display: none;
}

@media (max-width: 600px) {
  .share-block {
    flex-direction: column;
    align-items: flex-start;
  }

  .link-shared-tooltip_device_desktop {
    display: none;
  }

  .link-shared-tooltip_device_mobile {
    display: block;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    background-color: #E5D1B8;
  }
}

.next-story {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: clamp(1.5rem, 1.3415rem + 0.7923vw, 2.0625rem);
  margin-bottom: var(--story-before-footer-margin);
}



.next-story__title {
  font-size: clamp(1.5rem, 1.2183rem + 1.4085vw, 2.5rem);
}

.next-story__all-stories-link {
  --transition-property: all;
  font-size: 18px;
  padding: 10px 30px 12px;
  border: 1px solid currentColor;
  font-family: 'Plaid Mono';
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}

.next-story__all-stories-link:hover {
  background-color: #E5D1B8;
  color: #3C4C48;
}

.next-story__card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  aspect-ratio: 1396/300;
  grid-column: 1/-1;
}

.next-story__card_anonimous {
  grid-template-columns: 1fr;
}

.next-story__card:hover {
  opacity: .6;
}

.next-story__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: inherit;
}

.next-story__description {
  padding: clamp(0.875rem, 0.6989rem + 0.8803vw, 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.next-story__card-name {
  font-size: clamp(1.5rem, 1.3944rem + 0.5282vw, 1.875rem);
  max-width: 55%;
  margin-bottom: 10px;
  line-height: 1;
}

.next-story__card-date {
  font-size: clamp(3.75rem, 3.0458rem + 3.5211vw, 6.25rem);
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 1024px) {
  .next-story__card-name {
    max-width: 75%;
  }
}

@media (max-width: 600px) {
  .next-story__card {
    grid-template-columns: 1fr;
    aspect-ratio: initial;
  }

  .next-story__all-stories-link {
    grid-row: 3;
  }
  .next-story__card-image  {
    aspect-ratio: 292/190;
  }
  .next-story__description  {
    aspect-ratio: 292/190;
  }
}

