*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

body {
  font-family: Plaid, sans-serif;
  padding: var(--main-page-paddings-tb) var(--main-page-paddings-lr);
  font-weight: 400;
  min-width: var(--page-min-width);
  max-width: var(--page-max-width);
  margin: 0 auto;
}

h1,
h2, 
h3, 
h4,
p,
ul,
li,
ol,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  color: inherit;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


/* Цветовые темы */

.theme-yellow {
  background-color: #E5B181;
  color: #2B2129;
}

.theme-lightyellow {
  background-color: #E2D2BB;
  color: #2B2129;
}

.theme-purple {
  background-color: #2B2129;
  color: #E5D1B8;
}

.theme-lightpurple {
  background-color: #7D6779;
  color: #E5D1B8;
}

.theme-orange {
  background-color: #DE8E59;
  color: #2B2129;
}

.theme-white {
  background-color: #F2F4F3;
  color: #2B2129;
}

.theme-darkorange {
  background-color: #AF7A4C;
  /* color: #F2F4F3; */
  color: #E5D1B8;
}

.theme-darkgreen {
  background-color: #3C4C48;
  color: #E5D1B8;
}

.theme-blue {
  background-color: #7583A5;
  color: #E5D1B8;
}

/* Шапка */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-container {
  display: flex;
  align-items: start;
  gap: var(--menu-logo-text-gap);
}

.logo-container[href]:hover {
  opacity: .6;
}

.logo {
  width: var(--inner-header-logo-width);
}

.logo-text {
  font-family: 'Plaid Mono', monospace;
  display: block;
  width: var(--menu-logo-text-width);
  font-weight: 400;
  font-size: var(--menu-logo-text-size);
  position: relative;
  top: 0.3em;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: var(--burger-width);
  min-width: 42px;
  padding: 0;
}

@media (max-width: 600px) {
  .menu-button {
    top: .3em;
  }

  .header .menu-button {
    top: 2em;
  }

  .inner-page .header .menu-button {
    top: 0.3em;
  }
}

.menu-button:hover {
  opacity: .6;
}

.menu-button svg {
  width: 100%;
  stroke-width: 5;
}

.main-menu a:hover {
  opacity: .6;
}

@media (max-width: 600px) {
  .menu-button svg {
    stroke-width: 2;
  }
}

.main-menu__footer {
  text-align: center;
  font-family: 'Plaid Mono', monospace;
  line-height: 1.2;
  font-size: var(--main-menu-footer-font-size);
  font-weight: 400;
}

.main-menu__footer a {
  text-decoration: underline;
}

.main-menu__footer a:hover {
  opacity: .6;
}

.header-menu {
  position: fixed;
  inset: 0;
  padding: var(--main-page-paddings-tb) var(--main-page-paddings-lr);
  display: flex;
  flex-direction: column;
  z-index: 4;
  transform: translateY(-100%);
}

.header-menu {
  max-width: var(--page-max-width);
  margin: auto;
}

.header-menu.opened {
  transform: translateY(0);
}

.header-menu .logo {
  width: var(--menu-logo-width);
}

.header-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-menu {
  list-style: none;
  font-family: 'Plaid Mono', monospace;
  font-weight: 700;
  font-size: var(--main-menu-font-size);
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Автор */
.author-card {
  display: flex;
  gap: 22px;
  align-items: center;
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: 24px;
}

.author-name {
  font-weight: 400;
  font-size: 24px;
}

.date {
  border: 1px solid #2B2129;
  padding: 10px 20px;
  border-radius: 100px;
}

/* Меню */

.menu {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
 }

 .menu li {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
 }

 /* END Меню */


/* Подпись */

.caption  {
  font-size: 14px;
  opacity: .8;
  /* min-width: 50%; */
  font-weight: 400;
  margin-top: 14px;
  max-width: 405px;
  font-family: 'Plaid Mono';
}

/* Секция заголовка */

.subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
}

.title {
  font-family: 'Plaid Mono', monospace;
  font-weight: 700;
  font-size: var(--inner-title-font-size);
  line-height: .8;
}

/* END Секция заголовка */


/* Список тегов */

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  border: 1px solid #000;
  padding: 17px 12px;
  border-radius: 100px;
  list-style: none;
}

.tag:hover {
  cursor: pointer;
  color: #E5B181;
  background-color: #000;
}

.tag a {
  display: block;
  min-width: 190px;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
}

/* END Список тегов */

/* Карточки */

.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--main-grid-gap);
  place-content: center;
  list-style: none;
}

@media (max-width: 768px) {
  .cards-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-section {
    grid-template-columns: 1fr;
  }
}

.card {
  text-decoration: none;
  border: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


@media screen and (max-width: 1200px) {
  .card-description {
    position: static;
    transform: none;
    width: 90%;
    max-width: 90%;
  }
  .cards-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    padding: 20px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .cards-section {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Картика во всю ширину */
.full-page-image {
  width: 100%;
}
/* END Картика во всю ширину */



/* Картика во всю ширину c подписью */

.full-page-image-with-caption img {
  width: 100%;
}


/* END Картика во всю ширину c подписью */

/* Одинокая вертикальная картинка */

.single-vertical-image-with-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-vertical-image-with-caption div {
  width: 40%;
}

.single-vertical-image-with-caption img {
  min-width: 100%;
  aspect-ratio: 520 / 693px;
  object-fit: cover;
}

/*END Одинокая вертикальная картинка */

/* Две горизонтальные картинки с подписями делят пространство пополам */

.image-grid-50_50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.image-grid-50_50 img {
  width: 100%;
  aspect-ratio: 1456/835;
  object-fit: cover;
}

/*END Две горизонтальные картинки с подписями делят пространство пополам */


/* Две вертикальные картинки в ряд с подписями */
.image-grid-50_50-vertical {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 0 10%;
}

.image-grid-50_50-vertical img {
  width: 100%;
  aspect-ratio: 520 / 693px;
  object-fit: cover;
}
/*END Две вертикальные картинки в ряд с подписями */

/* Если одна фотка коризонтальная, а вторая вертикальная */
.vertical-and-horizontal-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px 16px;
}

.vertical-and-horizontal-image .vertical {
 grid-column: span 1;
}

.vertical-and-horizontal-image .vertical img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vertical-and-horizontal-image .horizontal {
  grid-column: span 2;
 }

 .vertical-and-horizontal-image .horizontal img {
  width: 100%;
  height: 100%;
  object-fit: cover;

 }

 /* END Если одна фотка коризонтальная, а вторая вертикальная */

 /* Слайдер */

 .swiper {
  width: 100%;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  position: relative;
  top: -10px;
  z-index: 3;

}

.swiper-button-prev, .swiper-button-next {
  position: relative;
}

.swiper-button-prev::after, .swiper-button-next::after {
  content: '';
}

 /* END Слайдер */

 /* Ютуб видео */

 .yt-container iframe {
  width: 100%;
  aspect-ratio: 16/9;
 }

 .yt-container-part {
  padding: 0 10%;
 }

 /* END Ютуб с видео */

 /* Видео-кружок */

 .video-circle {
  width: fit-content;
  border-radius: 50%;
 }

 .video-circle video {
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
 }

 .video-circle.video-circle--avatar video {
  width: 100px;
 }


 /* Блок с параграфами */
 .paragraph-block {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  width: 70%;
  margin: auto;
 }

 .paragraph-block p:not(:last-of-type) {
  margin-bottom: 1em;
 }
 /* END Блок с параграфами */

/* Заголовок текста */

 .text-title {
  font-family: 'Plaid Mono', monospace;
  font-weight: 700;
  font-size: 66px;
  line-height: 1;
  width: 70%;
  margin: auto;
 }

 /* END Заголовок текста */

/* Большая фраза */
 .large-text {
  font-weight: 700;
  font-family: 'Plaid Mono', monospace;
  font-size: 66px;
  line-height: 1;
  width: 70%;
  margin: auto;
 }
 /* END Большая фраза */

 .footer {
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: var(--footer-font-size);
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .1em .8em;
 }

 .footer a {
  text-decoration: underline;
 }

 .footer a:hover {
  opacity: .6;
 }

 .footer-links {
  list-style: none;
  display: flex;
  gap: .1em .8em;
  flex-wrap: wrap;
 }

 .footer-links a {
  text-decoration: none;
 }

 .footer-links a:hover {
  text-decoration: underline;
 }


 /* Отступы */

 .mb-25 {
  margin-bottom: 25px;
 }

 .mt-25 {
  margin-top: 25px;
 }

 .mb-55 {
  margin-bottom: 55px;
 }

 .mt-55 {
  margin-top: 55px;
 }

 .mb-50 {
  margin-bottom: 50px;
 }

 .mt-50 {
  margin-top: 50px;
 }

 .mb-45 {
  margin-bottom: 45px;
 }

 .mt-45 {
  margin-top: 45px;
 }

 .mb-86 {
  margin-bottom: 86px;
 }

 .mt-86 {
  margin-top: 86px;
 }

 .mb-72 {
  margin-bottom: 72px;
 }

 .mt-72 {
  margin-top: 72px;
 }

 .mb-128 {
  margin-bottom: 128px;
 }

 .mt-128 {
  margin-top: 128px;
 }




 .clickable-card:hover {
  cursor: pointer;
  opacity: .6;
 }

