*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color, #e5d1b8) transparent;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color, #e5d1b8);
  border-radius: 20px;
  border: none;
}

body {
  font-family: Plaid, sans-serif;
  padding: var(--main-page-paddings-tb) var(--main-page-paddings-lr);
  font-weight: 400;
  min-width: var(--page-min-width);
  max-width: var(--page-max-width);
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osxfont-smoothing: grayscale;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
blockquote,
figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  color: inherit;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.blured {
  overflow: hidden;
}

.blured > *:not(.cards-popup) {
  filter: blur(5px) brightness(70%);
}

/* Цветовые темы */

.theme-yellow {
  background-color: #e5b181;
  color: #2b2129;
  --scroll-color: #2b2129;
}

.theme-lightyellow {
  background-color: #e2d2bb;
  color: #2b2129;
  --scroll-color: #2b2129;
}

.theme-purple {
  background-color: #2b2129;
  color: #e5d1b8;
  --scroll-color: #e5d1b8;
}

.theme-semipurple {
  background-color: #4c3c47;
  color: #e5d1b8;
  --scroll-color: #e5d1b8;
}

.theme-lightpurple {
  background-color: #7d6779;
  color: #e5d1b8;
  --scroll-color: #e5d1b8;
}

.theme-orange {
  background-color: #de8e59;
  color: #2b2129;
  --scroll-color: #2b2129;
}

.theme-white {
  background-color: #f2f4f3;
  color: #2b2129;
  --scroll-color: #2b2129;
}

.theme-darkorange {
  background-color: #af7a4c;
  /* color: #F2F4F3; */
  color: #e5d1b8;
  --scroll-color: #e5d1b8;
}

.theme-darkgreen {
  background-color: #3c4c48;
  color: #e5d1b8;
  --scroll-color: #e5d1b8;
}

.theme-ultradarkgreen {
  background-color: #202b28;
  color: #e5d1b8;
  --scroll-color: #e5d1b8;
}

.theme-blue {
  background-color: #7583a5;
  color: #e5d1b8;
  --scroll-color: #e5d1b8;
}

/* Шапка */

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo-container {
  display: flex;
  align-items: start;
  gap: var(--menu-logo-text-gap);
}

.logo-container[href]:hover {
  opacity: 0.6;
}

.logo {
  width: var(--inner-header-logo-width);
}

.logo-text {
  font-family: "Plaid Mono", monospace;
  display: block;
  width: var(--menu-logo-text-width);
  font-weight: 400;
  font-size: var(--menu-logo-text-size);
  position: relative;
  top: 0.3em;
}

.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: var(--burger-width);
  min-width: 42px;
  padding: 0;
}

@media (max-width: 600px) {
  .menu-button {
    top: 0.3em;
  }

  .header .menu-button {
    top: 2em;
  }

  .inner-page .header .menu-button {
    top: 0.3em;
  }
}

.menu-button:hover {
  opacity: 0.6;
}

.menu-button svg {
  width: 100%;
  stroke-width: 5;
}

.main-menu a:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .menu-button svg {
    stroke-width: 2;
  }
}

.main-menu__footer {
  text-align: center;
  font-family: "Plaid Mono", monospace;
  line-height: 1.2;
  font-size: var(--main-menu-footer-font-size);
  font-weight: 400;
}

.main-menu__footer a {
  text-decoration: underline;
}

.main-menu__footer a:hover {
  opacity: 0.6;
}

.header-menu {
  position: fixed;
  inset: 0;
  padding: var(--main-page-paddings-tb) var(--main-page-paddings-lr);
  display: flex;
  flex-direction: column;
  z-index: 4;
  transform: translateY(-100%);
  overflow: auto;
}

.header-menu {
  max-width: var(--page-max-width);
  margin: auto;
}

.header-menu.opened {
  transform: translateY(0);
}

.header-menu .logo {
  width: var(--menu-logo-width);
}

.header-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-menu {
  list-style: none;
  font-family: "Plaid";
  font-weight: 700;
  font-size: var(--main-menu-font-size);
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Plaid";
  font-weight: 700;
  font-size: var(--inner-title-font-size);
  line-height: 1;
}

/* Карточки */

.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--main-grid-gap);
  place-content: center;
  list-style: none;
}

@media (max-width: 768px) {
  .cards-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards-section {
    grid-template-columns: 1fr;
  }
}

.card {
  text-decoration: none;
  border: none;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card_current {
  opacity: 0.3;
  pointer-events: none;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 1200px) {
  .card-description {
    position: static;
    transform: none;
    width: 90%;
    max-width: 90%;
  }
  .cards-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cards-section {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Слайдер общие стили на все слайдеры всех страниц */

.swiper {
  width: 100%;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  position: relative;
  top: -10px;
  z-index: 3;
}

.swiper-pagination {
  z-index: 1 !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.footer {
  font-family: "Plaid Mono", monospace;
  font-weight: 400;
  font-size: var(--footer-font-size);
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.1em 0.8em;
  margin-top: auto;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  opacity: 0.6;
}

.footer-links {
  list-style: none;
  display: flex;
  gap: 0.1em 0.8em;
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.clickable-card:hover {
  cursor: pointer;
  opacity: 0.6;
}
