.tips-detail .header {
  margin-bottom: var(--tips-detail-after-header-margin);
}


.slider {
  display: grid;
  place-items: center;
  gap: 8px;
  margin-bottom: var(--tips-detail-after-slider-margin);
}

.slider-container {
  position: relative;
  display: grid;
  place-items: center;
  place-content: center;
  grid-template-rows: min-content min-content;
  gap: var(--main-grid-gap);
}

.cards-slider {
  width: var(--popup-slider-width);
  aspect-ratio: 1/1;
}

@media (max-width: 600px) {
  .cards-slider {
    width: 100%;
  }
}

.cards-slider .swiper-slide {
  padding: var(--popup-padding);

}

.cards-slider .swiper-button-prev,
.cards-slider .swiper-button-next {
  position: absolute;
  --swiper-navigation-sides-offset: clamp(0.25rem, -1.3271rem + 3vw, 2.5rem);
}

.cards-slider .swiper-button-prev svg,
.cards-slider .swiper-button-next svg {
  width: var(--popup-arrow-width);
  height: var(--popup-arrow-width);
  object-fit: cover;
  object-position: center;
}

.swiper-pagination-bullet {
  background: rgb(255 255 255 / .8);
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination {
  position: relative;
  width: fit-content !important;
  margin: auto;
}

.card-slide-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-slide-illustration {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.card-slide-cover-text {
  font-family: 'Plaid Mono', monospace;
  text-align: center;
  max-width: 351px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);

}

.content-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-family: 'Plaid Mono', monospace;
  font-weight: 400;
  font-size: var(--popup-text-font-size);
  line-height: 120%;
}

.link-shared-tooltip {
  background-color: rgb(229 209 184 / .5);
  color: #2B2129;
  border-radius: 20px;
  font-size: var(--popup-ttoltip-font-size);
  padding: var(--popup-tooltip-padding-t) var(--popup-tooltip-padding-lr) var(--popup-tooltip-padding-b);
  width: fit-content;
  word-wrap: nowrap;
  justify-self: center;
  opacity: 0;
}

.share-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: var(--popup-share-block-font-size);
  color: #E5D1B8;
}

.share-list {
  list-style: none;
  display: flex;
  gap: 1em;
}

.share-list li {
  display: flex;
  align-items: center;
  gap: 1em;
}

.share-list a, .share-list button {
  background-color: transparent;
  border: none;
  padding: 0;
  appearance: none;
  font-size: inherit;
  cursor: pointer;
}

.share-list a:hover, .share-list button:hover {
  opacity: .6;
}


.instructions {
  margin-bottom: var(--tips-detail-before-footeer-margin);
}

.instructioons__title {
  font-size: 40px;
  margin-bottom: 35px;
}
