@font-face {
  src: url(/fonts/Plaid-S.woff) format('woff');
  font-family: 'Plaid';
  font-weight: normal;
}

@font-face {
  src: url(/fonts/Plaid-M-Mono.woff) format('woff');
  font-family: 'Plaid Mono';
  font-weight: bold;
}

@font-face {
  src: url(/fonts/Plaid-XL-Mono.woff) format('woff');
  font-family: 'Plaid Mono';
  font-weight: 800;
}

@font-face {
  src: url(/fonts/Plaid-S-Mono.woff) format('woff');
  font-family: 'Plaid Mono';
  font-weight: 400;
}

